:root {
  --main-color: #9650ff;
  --border-color: #9650ff;
  --hover-color: #c78cfe;
}

body {
  margin: auto;
  padding: 2rem;
  color-scheme: dark;
  background-color: #1a1a1a;
}
h1 {
  font-family: Poppins-SemiBold;
  font-size: 28px;
  color: #fff;
}
h2 {
  font-family: Poppins-Regular;
  font-size: 25px;
  color: #fff;
}
h3 {
  font-family: Poppins-Light;
  font-size: 20px;
  color: #fff;
}
p {
  font-family: Poppins-Light;
  font-size: 17px;
  color: #919191;
}
input {
  width: 80%;
  background-color: "#1f1f1f";
  padding: 12px 20px;
  font-family: Poppins-Regular;
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: border 0.2s;
}
input:hover {
  border: 2px solid white;
}

.column {
  float: left;
  width: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  color-scheme: dark;
}
.panel {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 10;
  backdrop-filter: blur(1px);
  transition: ease-in-out;
}
.panel.box {
  content: "";
  display: table;
  width: 80%;
  height: 80%;
  border: 2px solid #8150ff;
  background-color: #1f1f1f;
  border-radius: 15px;
  margin: auto;
  transition: ease-in-out;
}
