/* CSS */
.smallButton {
  appearance: none;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.11) 0 8px 15px;
  color: #4800ff;
  background-color: #202020;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins-Regular;
  font-size: 17px;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  border: 2px solid transparent;
}

.smallButton:disabled {
  pointer-events: none;
}

.smallButton:hover {
  color: #4800ff;
  background-color: #202020;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid #8400ff
}

.smallButton:active {
  box-shadow: none;
  transform: translateY(0);
}
